name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v4
        with:
          php-version: '8.2'
          extensions: mbstring, xml, bcmath, pdo_sqlite, sqlite3, fileinfo
          ini-values: post_max_size=256M, memory_limit=2G

      - name: Validate composer
        run: composer --version

      - name: Install composer dependencies
        run: composer install --no-progress --no-interaction --prefer-dist

      - name: Generate app key
        run: php artisan key:generate --ansi

      - name: Run tests
        env:
          APP_ENV: testing
        run: |
          php artisan migrate:fresh --seed
          vendor/bin/phpunit --colors=always
